/* Image Slider Styles */
.slider {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.slider-images {
  display: flex;
  transition: transform 0.5s ease-in-out;
  height: 100%;
}

.slider-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex-shrink: 0;
}

/* About Section */
.about-section {
  padding: 60px 0;
  background-color: #361c0a;
  text-align: center;
  color: #fff;
}

.about-section img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Featured Collections */
.collections-section {
  padding: 60px 0;
  background-color: #21140b;
  text-align: center;
  color: #fff;
}

.collections-section h2 {
  font-size: 36px;
  margin-bottom: 40px;
  color: #ffd700;
}

.collections-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  padding: 20px;
}

.collection-item {
  position: relative;
  height: 350px;
  border-radius: 8px;
  overflow: hidden;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.collection-item:hover {
  transform: translateY(-5px);
}

.collection-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.collection-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  font-weight: 600;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  z-index: 1;
  width: 100%;
  text-align: center;
}

/* Contact Section */
.contact-section {
  padding: 60px 0;
  background-color: #f4f4f4;
  text-align: center;
}

.contact-section h2 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #442711;
}

.contact-section p {
  font-size: 18px;
  margin-bottom: 20px;
  color: #333;
}

.contact-info {
  font-size: 16px;
  color: #666;
}

/* Popup css */
.newsletter-popup {
  display: none; /* Initially hidden */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  text-align: center;
  border-radius: 10px;
}

.popup-content {
  padding: 20px;
}

.popup-image {
  width: 100%;
  max-width: 300px;
  margin-bottom: 15px;
}

/* Close Button Styles */
.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
  color: #555;
}

.close-btn:hover {
  color: #000;
}
