body {
  font-family: 'Times New Roman', Times, serif;
  background: linear-gradient(to bottom, #fff7e6, #f9f3ea);
  color: #333;
}

.header {
  text-align: center;
  padding: 20px;
  background-color: white;
  border-bottom: 3px solid #e0c097;
}

.header img {
  max-height: 80px;
}

.container {
  max-width: 600px;
  margin: 30px auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}


.footer {
  text-align: center;
  padding: 10px;
  margin-top: 20px;
  background-color: #f8f8f8;
  border-top: 3px solid #e0c097;
}

.Product {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 15%;
  display: inline-block;
  text-align: center;
  margin: 7.5%;
  font-family: arial,serif;
  background-color: #B5B7BB;

}