{% extends "base.html" %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleaboutcontact.css') }}">
{% endblock %}

{% block content %}
<header class="header">
    <div class="header-content">
        <h1>Excellent Jewellery Collection</h1>
        <p>We are committed to providing you with the best services and experiences.</p>
        <button class="contact-btn" onclick="window.location.href='#'">Check Out Our Collection!</button>
    </div>
</header>

<section class="why-us">
    <div class="why-us-container">
        <div class="features">
            <div class="feature">
                <i class="fa-solid fa-compass-drafting"></i>
                <div>
                    <h5>Unique Design</h5>
                    <p>Each piece is meticulously crafted by expert artisans.</p>
                </div>
            </div>
            <div class="feature">
                <i class="fa-solid fa-person-military-pointing"></i>
                <div>
                    <h5>Cooperative Staff</h5>
                    <p>We prioritize responsible sourcing of materials.</p>
                </div>
            </div>
            <div class="feature">
                <i class="fa-solid fa-shield-heart"></i>
                <div>
                    <h5>Lifetime Warranty</h5>
                    <p>We stand behind our products, offering a 1-year warranty.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about-us-section">
    <div class="about-us-image">
        <img src="{{ url_for('static', filename='images/1.png') }}" alt="About Us Image">
    </div>
    <div class="about-us-content">
        <h2>Who we are</h2>
        <p>We are dedicated to providing exceptional products and services to our customers. With a focus on quality and customer satisfaction, we strive to exceed expectations in everything we do.</p>
        <p>Our team is passionate and driven, always looking for ways to innovate and improve. We believe in building lasting relationships with our clients and are committed to upholding our values of integrity, excellence, and responsibility.</p>
        <a class="contact-btn contactq-btn" href="{{ url_for('routes.contact') }}">Contact Us</a>
    </div>
</section>

<section class="featured-items">
    <div class="featured-container">
        <h2><span style="color:#f49418;">Featured</span> Items</h2>
        <div class="cards">
            <div class="card">
                <img src="{{ url_for('static', filename='images/leaf_earring_2.jpg') }}" alt="Leaf Earrings">
                <h3>Leaf Earrings</h3>
                <p class="price">£399</p>
            </div>
            <div class="card">
                <img src="{{ url_for('static', filename='images/Watch6.jpg') }}" alt="Oceanic Voyager">
                <h3>Oceanic Voyager</h3>
                <p class="price">£4500</p>
            </div>
        </div>
    </div>
</section>

<section class="image-section">
    <img src="{{ url_for('static', filename='images/advertise-1.jpg') }}" alt="Image 1">
    <img src="{{ url_for('static', filename='images/advertise-2.jpg') }}" alt="Image 2">
    <img src="{{ url_for('static', filename='images/advertise-3.jpg') }}" alt="Image 3">
</section>
{% endblock %}

  <section id="testim" class="testim">
    <div>
      <!--         <div class="testim-cover"> -->
      <div class="wrap">

        <span id="right-arrow" class="arrow right fa fa-chevron-right"></span>
        <span id="left-arrow" class="arrow left fa fa-chevron-left "></span>
        <ul id="testim-dots" class="dots">
          <li class="dot active"></li>
          <!--
                        -->
          <li class="dot"></li>
          <!--
                        -->
          <li class="dot"></li>
          <!--
                        -->
          <li class="dot"></li>
          <!--
                        -->
          <li class="dot"></li>
        </ul>
        <div id="testim-content" class="cont">

          <div class="active">
            <div class="img"><img
                alt=""></div>
            <h2>Benjamin Smith</h2>
            <p>The Divine is a treasure trove of exquisite jewelry. Each piece is a work of art, crafted with meticulous attention to detail. From dainty earrings to statement necklaces, their collection is truly divine.</p>
          </div>

          <div>
            <div class="img"><img
                alt=""></div>
            <h2>William Johnson</h2>
            <p>I gifted my sister a necklace from The Divine for her birthday, and she was overjoyed. The quality of the materials and the stunning design made it a truly unforgettable present. It's a piece she'll cherish forever.</p>
          </div>

          <div>
            <div class="img"><img
                alt=""></div>
            <h2>Harry Morgan</h2>
            <p>I've gifted jewelry from The Divine for birthdays, anniversaries, and holidays, and it's always a hit. The elegant packaging and personalized touch make it a truly special gift.</p>
          </div>

          <div>
            <div class="img"><img
                alt=""></div>
            <h2>Emily Davis</h2>
            <p>I recently purchased a ring from The Divine and I'm absolutely smitten. The craftsmanship is impeccable, and the design is both classic and contemporary. It's the perfect piece to elevate any outfit.</p>
          </div>

          <div>
            <div class="img"><img
                alt=""></div>
            <h2>Debra McKay</h2>
            <p>I chose The Divine for my engagement ring, and it was the best decision I ever made. The ring is absolutely stunning, and it symbolizes our love perfectly. It's a piece we'll cherish forever.</p>
          </div>

        </div>

      </div>
      <!--         </div> -->
    </div>
  </section>

  <section class="featured_products_sec" style="padding:20px 20px 60px 20px;">
    <div class="featured-container">
      <h2 style="text-align: center;"> <span style="color:#f49418;">Popular </span> Items</h2>
      <div class="cards">
        
        <div class="card">
          <img src="{{ url_for('static', filename='images/crystal ring 1.jpg') }}" alt="Item 1" onclick="openPopup(this)">
          <h3>Crystal ring</h3>
          <p class="price">£1110</p>
        </div>

        <div class="card">
          <img src="{{ url_for('static', filename='images/Watch5.jpg') }}" alt="Item 1" onclick="openPopup(this)">
          <h3>Titanium Horizon</h3>
          <p class="price">£7500</p>
        </div>
      </div>
    </div>
  </section>
  
  <footer class="footer">
    <div class="footer-column large">
      <h3>The Divine</h3>
      <p>Your destination for timeless elegance. We curate a collection of exquisite jewelry, each piece handcrafted with meticulous attention to detail. Discover the perfect accessory to elevate your style.
      </p>
      <br>
      <p>Browse our collection now and indulge in affordable luxury! 
      </p>
    </div>

    <div class="footer-column small">
      <h3>Quick Links</h3>
      <ul>
        <li><a href="{{ url_for('routes.home') }}">Home</a></li>
        <li><a href="{{ url_for('routes.products') }}">Shop Our Products</a></li>  
        <li><a href="{{ url_for('routes.about_us') }}">About Us</a></li>
        <li><a href="{{ url_for('routes.contact') }}">Contact Us</a></li>
        <li><a href="{{ url_for('routes.basket') }}">Basket</a></li>
        <li><a href="{{ url_for('routes.login') }}">Login</a></li>
        <li><a href="{{ url_for('routes.register') }}">Registration</a></li>
      </ul>
    </div>

    <div class="footer-column small">
      <h3>Collections</h3>
      <ul>
        <li><a href="leafcollection.html"></a>Leaf</li>
        <li><a href="crytsalcollection.html"></a>Crystal</li>
        <li><a href="pearlcollection.html"></a>Pearl</li>
      </ul>
    </div>
  </footer>

  <script src="{{ url_for('static', filename='js/scriptaboutandcontact.js') }}"></script>
</html>