{% extends "base.html" %}
{% block title %}Leaf Collection - The Divine Jewelry{% endblock %}
{% block content %}

<button id="addToCartButton" class="button">Add to Basket</button>

<div id="shopping-bag" class="shopping-bag hidden">
    <button id="close-bag" class="close-button">X</button>
    <h2>Shopping Bag (<span id="item-count">0</span>)</h2>
    <ul id="items-added"></ul>
    <div class="subtotal">
        <h4>Subtotal</h4>
        <p id="subtotal-amount">£0.00 (incl. VAT)</p>
    </div>
    <button class="proceed-button">Proceed to Checkout</button>
    <button class="paypal-button">Check out with PayPal</button>
</div>

<script src="static/js/basket(popup).js"></script>

{% endblock %}
