<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Products - The Divine</title>

</head>
<body style="justify-content: center">
<div class="header">
  <img src="team_project_logo.png" alt="The Divine Logo">
  <h1>Previous Orders</h1>
</div>


<div class="Product">
  <img src="sample-image.jpg" alt="sample1" style="width:100%">
  <h1>Product Name</h1>
  <p>Basic description</p>
  <p>£10,000</p>
  <p>size</p>
</div>

<div class="Product">
  <img src="sample-image.jpg" alt="sample1" style="width:100%">
  <h1>Product Name</h1>
  <p>Basic description</p>
  <p>£10,000</p>
  <p>size</p>
</div>

<div class="Product">
  <img src="sample-image.jpg" alt="sample1" style="width:100%">
  <h1>Product Name</h1>
  <p>Basic description</p>
  <p>£10,000</p>
  <p>size</p>
</div>
<br>

<div class="Product">
  <img src="sample-image.jpg" alt="sample1" style="width:100%">
  <h1>Product Name</h1>
  <p>Basic description</p>
  <p>£10,000</p>
  <p>size</p>
</div>


</body>
</html>
