<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Products - The Divine</title>
  <link rel="stylesheet" href="products.css">
</head>
<body>
<div class="header">
  <img src="team_project_logo.png" alt="The Divine Logo">
  <h1>Previous Orders</h1>
</div>


<div class="Product">
  <img src="./TPI/crystal%20collection%20images/crystal%20bracelet%201.jpg" alt="sample1" style="width:100%">
  <h1>Crystal Bacelet</h1>
  <p>Basic description</p>
  <p class="price">£1,500</p>
  <p>Large</p>
  <p>Quantity: 1</p>
  <p>Ordered: 10/11/24</p>
  <br><br>
  </div>


<div class="Product">
  <img src="./TPI/watches/Watch1.jpg" alt="sample1" style="width:100%">
  <h1>Midnight Heritage</h1>
  <p>Watch</p>
  <p class="price">£5,500</p>
  <p>Small</p>
  <p>Quantity: 1</p>
  <p>Ordered: 12/11/24</p>
  <br><br>
</div>


<div class="Product">
  <img src="./TPI/leaf collection images/leaf necklace 1.jpg" alt="sample1" style="width:100%">
  <h1>Leaf Necklace</h1>
  <p>Basic description</p>
  <p class="price">£599</p>
  <p>Medium</p>
  <p>Quantity: 1</p>
  <p>Ordered: 20/11/24</p>
  <br><br>
</div>
</body>
</html>
